html,
body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, Arial;
}

canvas{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.centerBox{
	display: block;
	font-size: 0;
	text-align: center;
}

.centerBox:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
	visibility: hidden;
}

.centerBox__inner{
	display: inline-block;
	vertical-align: middle;
}

.centerBox--full:after{
	min-height: 100vh;
}

.globalButtons{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0;
	text-align: center;
	padding: 8px 10px;
	background-color: #fff;
	border-top: 1px solid #ccc;
}

.globalButtons__pusher{
	position: relative;
	min-height: 50px;
	visibility: hidden;
}

.button{
	display: inline-block;
	vertical-align: middle;
	margin: 4px;
	padding: 6px 10px;
	border: none;
	background-color: #333;
	color: #f1f1f1;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.2s;
}

.button:hover{
	background-color: #666;
}

.exampleBox{
	position: relative;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
	margin: 0 auto;
}

.exampleBox:after{
	content: '';
	display: block;
	width: 100%;
	clear: both;
	visibility: hidden;
}

.exampleBox__info{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 20px;
}

.exampleBox__info--full{
	width: 100%;
}

.exampleBox__title{
	position: relative;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding-bottom: 20px;
}

.exampleBox__demo{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 20px;
}

.exampleBox__chart{
	position: relative;
}

.exampleBox__buttons{
	padding-top: 16px;
	font-size: 0;
	text-align: center;
}

.exampleBox__code pre{
	margin: 0;
	overflow: auto;
}

.exampleBox__code code strong{
	display: inline-block;
	background-color: #e3e3e3;
}